* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color:#d6d6d2dd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calendar {
    width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  #month-year {
    font-size: 18px;
    font-weight: bold;
  }
  
  button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #ab23ff;
  }
  
  table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  tbody td {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  tbody td:hover {
    background-color: #454343;
  }
  
  tbody td.current-day {
    background-color: #000408;
    color: white;
    border-radius: 50%;
  }
  